/* SignIn Css */
.hero {
  background: url("../Assets/Hero\ Image.png");
  height: 100vh;
  width: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  image-rendering: crisp-edges;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Loader */
.nfLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 37px 0 0 -25px;
  width: 50px;
  height: 50px;
}
.nfLoader:after {
  content: "";
  background-image: url(https://assets.nflxext.com/en_us/pages/wiplayer/site-spinner.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  position: absolute;
  margin: -6px;
  width: inherit;
  height: inherit;
  animation: nfLoader-spin 1.1s linear infinite, 1 !important;
  -webkit-animation: nfLoader-spin 1.1s linear infinite, 1 !important;
}
@keyframes nfLoader-spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes nfLoader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* To 10 Cards */

.topNumber {
  font-size: 180px;
  text-transform: capitalize;
  /* background: rgb(186,0,0); */
  background: gray;

  background-size: 200% 199%;
  -webkit-background-clip: text;
  color: #000;
  -webkit-text-stroke: 8px transparent;
}
