/* SignIn Css */
.hero {
  background: url("../assets/Hero\ Image.png");
  height: auto;
  width: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  image-rendering: crisp-edges;
}
